
.details-total-salary{
    display: grid ;
    grid-template-columns: 3fr 1fr;
    background-color: white;
    margin-top: 50px;

}
.emoploy-detailes{
    border-right: 10px solid lightgray;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.employe-salary{
    margin: 30px;
}