.card{
    padding: 10px;
    border: 1px solid gray;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
}
.card:hover{

background-color: white;
}
.card img{
    width: 100%;
    height: 200px;
}
.card-style{
    text-align: center;
}
.btn-total{
    padding: 10px;
    width: 100%;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.btn-total:hover{
    background-color: black;
    color:white;
}